:root {
    --light_gray: #F1F5F0;
    --dark_blue: #132B4D;
    --light_blue: #265699;
    --lighter_blue: #3E7CB1;
    --pale_blue: #D3E0E9;
    --hover_color: #1e4b7a; /* A shade lighter for hover effect */
    --active_color: #173b5c; /* A different color for active link */
    --overview_bg: #f0f8ff; /* AliceBlue */
    --standings_bg: #faebd7; /* AntiqueWhite */
    --power_rank_bg: #e6e6fa; /* Lavender */
    --win_prob_bg: #fff0f5; /* LavenderBlush */
    --playoff_prob_bg: #f5f5dc; /* Beige */
}

html {
    scroll-behavior: smooth; /* Smooth scrolling */
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--pale_blue);
    color: var(--dark_blue);
    margin: 0;
    padding: 0;
}

a {
    color: inherit; /* Use the text color of the parent element */
    text-decoration: none; /* Remove underline */
    font-weight: inherit; /* Inherit font weight from parent */
    font-size: inherit; /* Inherit font size from parent */
    font-style: inherit; /* Inherit font style from parent */
    line-height: inherit; /* Inherit line height from parent */
}


p not:overview-text{
    font-size: 1em;
    line-height: 1.25;
    text-align: justify;
}

p > a {
    color: red;
}

p > a:hover {
    text-decoration: underline;
}


.navbar {
    width: 100%;
    background-color: var(--dark_blue);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    z-index: 1000;
    font-family: 'Verdana', sans-serif;
    flex-wrap: wrap;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
    padding: 0.75em;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 1.5em 0.5em;
    display: flex;
    gap: 0em;
    flex-wrap: wrap;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    white-space: nowrap;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: var(--hover_color);
}

.navbar a.active {
    background-color: var(--active_color);
}

h3 {
    margin-bottom: 5px;
    font-weight: bold;
}

h4 {
    margin: 175px 10px;
    text-align: center;
}

.custom-loading {
    margin-top: 275px;
}

.overview-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    height: 100vh;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4em;
}

.overview-text {
    width: 60%;
    text-align: center;
    padding: none;
    margin: 0px 5% 5% 5%;
    font-size: large;
}

.middle-row, .bottom-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
}

.box {
    width: 90%;
    margin: 0 2.5%;
    padding: 1em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#standings-box:hover, #power-rankings-box:hover, #win-probability-box:hover, #playoff-odds-box:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    background-color: var(--light_gray);
    transition: 0.25s ease-in-out;
}

#standings-box, #power-rankings-box, #win-probability-box, #playoff-odds-box {
    transition: 0.25s ease-in-out;
}

.graph-box {
    width: 90%;
    margin: 5% 2.5%;
    padding: 1em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.box h3 {
    margin-top: 0;
}

.section {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 6em;
}

.section.overview {
    background-color: var(--overview_bg);
}

.section.standings {
    background-color: var(--standings_bg);
}

.section.power-rank {
    background-color: var(--power_rank_bg);
}

.section.win-prob {
    background-color: var(--win_prob_bg);
}

.section.playoff-prob {
    background-color: var(--playoff_prob_bg);
}

h2 {
    margin-bottom: 1em;
    font-size: 2.25em;
    text-align: center;
    padding: 0.5em 1em;
    color: var(--dark_blue);
    font-weight: bold;

}

.content {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}


.dropdown-holder {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.dropdown {
    width: 45%;
    text-align: center;
}

.win-prob-holder {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2em;
}

.win-prob {
    background-color: var(--pale_blue);
    color: var(--dark_blue);
    padding: 2em;
    border-radius: 8px;
    width: 40%;
    text-align: center;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: medium;
}

.points-column {
    font-weight: bold;
}

th, td {
    border: none;
    padding: 0.5em;
    text-align: center;
}

th {
    background-color: var(--light_blue);
    color: white;
    font-weight: bold;
}

td {
    background-color: white;
}

tr:hover td {
    background-color: var(--light_gray);
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .navbar ul {
        padding: 1.5em;
    }

    .navbar h1 {
        padding-top: 1em;
        font-size: 20px;
    }
    
    .navbar a {
        font-size: 15px;
        white-space: nowrap;
        padding: 0.5em 0.75em;
    }
}

/* Responsive Styles */
@media (max-width: 950px) {
    .navbar ul {
        flex-direction: column;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.3s ease, max-height 0.3s ease;
        padding: 0.5em;
    }
    
    .navbar:hover ul {
        opacity: 1;
        visibility: visible;
        max-height: 250px;
        padding: 1.5em;
    }

    .navbar h1 {
        padding-top: 1.25em;
    }
    

    .navbar li {
        display: block;
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .navbar a {
        padding: 0.75em 1em;
        border-bottom: 1px solid var(--hover_color);
    }

    .navbar a:last-child {
        border-bottom: none;
    }

    table {
        font-size: small;
    }
}

/* Responsive Styles */
@media (max-width: 750px) {
    .overview-text {
        width: 90%;
    }

    .content {
        flex-direction: column;
        align-items: center;
        width: 95%;
    }

    .dropdown-holder {
        flex-direction: column;
    }

    .dropdown {
        width: 80%;
        padding: 1% 10%;
        margin: 0;
        margin-bottom: 1em;
    }

    .win-prob-holder {
        flex-direction: column;
    }

    .win-prob {
        max-width: 20%;
        padding-left: 40%;
        padding-right: 40%;
        margin-bottom: 1em;
    }

    .middle-row, .bottom-row {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
    }

    .box {
        width: 90%;
        margin: 0.5em 5%;
    }
}